p {
  margin: 30px;
  padding: 20px;
  background: white;
  border-style: solid; 
  border-width: 5px;
}

p.thin{
  width: 20%;
  margin: 0;
  padding: 0;
}

.position {
  margin-left: auto;
  margin-right: 100px;
  width: 200px;
}

.position2 {
  margin-left: 300px;
  margin-right: auto;
  width: 200px;
}

div {
  padding: 20px; 
  background: silver;
}

.fixed-nav {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}
