p {
  margin: 30px;
  padding: 20px;
  background: white;
  border-style: solid; 
  border-width: 5px;
}

/* Styling with a thin margin */
p.thin{
  width: 20%;
  margin: 0;
  padding: 0;
}

/* Styling with a thin margin and making it scrollable*/
p.scroll{
  overflow: scroll;
  width: 20%;
  height: 14em;
  margin: 0;
  padding: 0;
}

.position {
  margin-left: auto;
  margin-right: 100px;
  width: 200px;
}

.position2 {
  margin-left: 300px;
  margin-right: auto;
  width: 200px;
}

div {
  padding: 20px; 
  background: silver;
}

/* Defing a background image that is not repeated*/
div.norepeat {
  padding: 20px; 
  background: silver url(../media/building.jpg) no-repeat center  center fixed;
}

/* Defing a background image that is repeated*/
div.repeat {
  padding: 20px; 
  background: silver url(../media/repeate.jpg) repeat-x center  center fixed;
}

.fixed-nav {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.6);
}
